<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase-2_Project</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>student.html</welcome-file>
    <welcome-file>student.htm</welcome-file>
    <welcome-file>teacher.html</welcome-file>
    <welcome-file>teacher.htm</welcome-file>
    <welcome-file>classreport.html</welcome-file>
    <welcome-file>classreport.htm</welcome-file>
    <welcome-file>thankyou.html</welcome-file>
    <welcome-file>thankyou.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.student.app.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>com.student.app.controller.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentTable</display-name>
    <servlet-name>StudentTable</servlet-name>
    <servlet-class>com.student.app.dbutil.StudentTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentTable</servlet-name>
    <url-pattern>/student.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherTable</display-name>
    <servlet-name>TeacherTable</servlet-name>
    <servlet-class>com.student.app.dbutil.TeacherTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherTable</servlet-name>
    <url-pattern>/TeacherTable</url-pattern>
    <url-pattern>/teacher.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReport</display-name>
    <servlet-name>ClassReport</servlet-name>
    <servlet-class>com.student.app.dbutil.ClassReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReport</servlet-name>
    <url-pattern>/ClassReport</url-pattern>
    <url-pattern>/classreport.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDetails</display-name>
    <servlet-name>UpdateDetails</servlet-name>
    <servlet-class>com.student.app.controller.UpdateDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDetails</servlet-name>
    <url-pattern>/UpdateDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectList</display-name>
    <servlet-name>SubjectList</servlet-name>
    <servlet-class>com.student.app.dbutil.SubjectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectList</servlet-name>
    <url-pattern>/SubjectList</url-pattern>
    <url-pattern>/subject.html</url-pattern>
  </servlet-mapping>
</web-app>